<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="secondary" slot="start">
      <ion-back-button routerLink="/tabs/covid"></ion-back-button>
    </ion-button>
    <ion-title>Covid-19 - Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <ion-col>
    <ion-row>
    <div class="centrar ion-margin-vertical">
      <img src="http://pngimg.com/uploads/attention/attention_PNG5.png" alt="">
      <ion-item>PROXIMAMENTE - Información de Covid-19</ion-item>
    </div>
    </ion-row>
  </ion-col>

</ion-content>
