<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Covid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-col>
    <ion-row>
      <ion-list >

        <ion-col>
          <ion-row>
          <div class="centrar ion-margin-vertical">
            <ion-item [routerLink]="['/detalle-covid']">Historial - Covid-19</ion-item>
            <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/14A35/production/_115033548_gettyimages-1226314512.jpg" alt="">
          </div>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>
            <div class="centrar ion-margin-vertical">
              <ion-item [routerLink]="['/detalle-covid']">Al Momento - Covid-19</ion-item>
              <img src="https://ibero.mx/sites/default/files/prensaymultimedios/covid-900.jpg" alt="">
            </div>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>
            <div class="centrar ion-margin-vertical"> 
              <ion-item [routerLink]="['/detalle-covid']">Vacunados - Covid-19</ion-item>
              <img src="https://phantom-expansion.unidadeditorial.es/26f001eec6535e69b8e991eeb7bf90c7/crop/0x136/2045x1496/resize/414/f/jpg/assets/multimedia/imagenes/2021/08/17/16291528739094.jpg" alt="">
            </div>
          </ion-row>
        </ion-col>

      </ion-list>
    </ion-row>
  </ion-col>
</ion-content>
