<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="tertiary">
  <ion-col>
    <ion-row>
      <ion-card *ngFor="let noticia of noticias" [routerLink]="['/noticias', noticia.id]" class="centrar">

            <img src= {{noticia.imagen}}>
            <ion-card-header>
              <ion-card-title>{{noticia.titulo}}</ion-card-title>
              <ion-card-subtitle>Fecha: {{noticia.fecha}} </ion-card-subtitle>
              <ion-card-subtitle>Autor: {{noticia.autor}} </ion-card-subtitle>
            </ion-card-header>
            

            <div class="ion-text-center ion-margin-vertical">
              <ion-button size="larger" routerLink="/detalle-noticia" color="secondary">Ver Noticia Completa</ion-button>
            </div>

      </ion-card>
    </ion-row>
  </ion-col>
  </ion-content>