<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="secondary" slot="start">
      <ion-back-button routerLink="/tabs/noticias"></ion-back-button>
    </ion-button>
    <ion-title>Detalle Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <ion-col>
    <ion-row>

      <ion-card class="centrar">
        <img src= {{noticia.imagen}} >
        <ion-card-header>
          <ion-card-title> {{noticia.titulo}} </ion-card-title>
          <ion-card-subtitle>Fecha: {{noticia.fecha}} </ion-card-subtitle>
          <ion-card-subtitle>Autor: {{noticia.autor}}</ion-card-subtitle>
          <ion-card-subtitle>Categoria: {{noticia.categoria}} </ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          {{noticia.info}}
        </ion-card-content>

        <div class="ion-text-center ion-margin-vertical">
          <ion-button size="larger"  color="secondary">Guardar Noticia</ion-button>
        </div>

      </ion-card>
    </ion-row>
  </ion-col>
</ion-content>
