<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BG NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary">

  <ion-card value="centrado">
    <ion-card-header color="secondary"> 
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label>
            Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <ion-text color="danger" *ngIf="hasError('email','email')">

              <h5>Debe ser un correo valido</h5>

        </ion-text>
        <ion-text color="danger" *ngIf="hasError('email','required')">

              <h5>Campo requerido</h5>

         </ion-text>
    </ion-item>
    <ion-item>
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-text color="danger" *ngIf="!ionicForm.valid && ionicForm.controls['password'].touched && !hasError('password','required')">

          <h5>Maximo 6 caracteres</h5>

      </ion-text>
      <ion-text color="danger" *ngIf="hasError('password','required')">

          <h5>Campo requerido</h5>

      </ion-text>
    </ion-item>
    <ion-item-divider>
      <ion-button  size="larger" [disabled]="!(ionicForm.valid)" type="submit" color="secondary">Iniciar Sesión</ion-button>
      <ion-button  size="larger" routerLink="/register" color="secondary">Cuenta Nueva</ion-button>
    </ion-item-divider>
    </form>
  </ion-card>
  
</ion-content>
