<ion-header>
  <ion-toolbar color="primary">
    <ion-button color="secondary" slot="start">
      <ion-back-button routerLink="/tabs/guardado"></ion-back-button>
    </ion-button>
    <ion-title>Guardado Reciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-col>
    <ion-row>
      <ion-card class="centrar">
        <img src="https://www.milenio.com/uploads/media/2021/09/30/samuel-garcia-toma-protesta-gobernador.jpeg" alt="">
        <ion-card-header>
          <ion-card-title>Samuel García toma protesta como gobernador de Nuevo León</ion-card-title>
          <ion-card-subtitle>Autor: Esther Herrera, Pedro Delgado</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          El integrante de Movimiento Ciudadano se convertirá en el político más joven en asumir el 
          Poder Ejecutivo en el estado.
        </ion-card-content>

      </ion-card>
    </ion-row>
  </ion-col>
</ion-content>